*{
  box-sizing: border-box;
}
html {
  background: #A9A9A9;

}

img {
  width: 100%;
}

.timeline-container {
  padding: 0;
  list-style: none;
  width: 75vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;

  /* background-color: yellow; */
}

.timeline-container::before {
  content: '';
  height: 100%;
  width: 5px;
  background: steelblue;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

}

.timeline-content {
  background-color: white;
  width: 90%;
  max-width: 400px;
  padding:25px;
  box-shadow: 10px 10px 5px grey;

}

.timeline-event:nth-child(even) .timeline-content::before{
  content: '';
  height: 0;
  width: 0;
  right: 650px;
  position: absolute;
  border: medium solid #F5F5F5;
  border-width: 10px 10px 10px 0;
  border-color: transparent #F5F5F5 transparent transparent;

}

.timeline-content:not(:last-child) {
  margin-bottom: 25px;
}

.timeline-content:nth-child(even){
  margin-left: auto;

}
 .image {
   width: 20%;
 }

 /* .space {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
} */

.timeline-event:nth-child(odd) .timeline-content::before{
  content: '';
  height: 0;
  width: 0;
  left: 650px;
  position: absolute;
  border: medium solid #F5F5F5;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #F5F5F5;

}
/* .timeline-icon{
  background-color: #275B85;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  bottom: 50;
} */

.timeline-event:nth-child(even) .timeline-content::before{
  content: '';
  height: 0;
  width: 0;
  right: 650px;
  position: absolute;
  border: medium solid #F5F5F5;
  border-width: 10px 10px 10px 0;
  border-color: transparent #F5F5F5 transparent transparent;

}

.timeline-icon {
  background-color: steelblue;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  bottom: 50;
}

.fas {
  color: white;
  padding-top: 15px;
}

.first-timebox {
  position: absolute;
  top: 0;
  right: 63%;
  background: #EB515C;
  color: #FDF0F5;
  padding: 10px;
}

.second-timebox {
  position: absolute;
  top: 297px;
  right: 290px;
  background: #EB515C;
  color: #FDF0F5;
  padding: 10px;
}

.third-timebox {
  position: absolute;
  bottom: 234px;
  right: 63%;
  background: #EB515C;
  color: #FDF0F5;
  padding: 10px;
}


/* .timeline-event:nth-child(1){
  margin-top: 0px !important;
} */
/* .timeline-event:nth-child(odd){

  margin-right: 7%;
}

.timeline-event:nth-child(even){
  float: right;
  background-color: white;
  margin-left: 7%;
}

.timeline-event:after {
  content: '';
  display: table;
  clear: both;
}*/

.button {
  background-color: steelblue;
  border: none;
  color: white;
  padding: 11px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* .timeline-event: nth-child() */

/* #2  //boxes  */


/* .timeline {
  background: #A9A9A9;
  position: relative;
}
.timeline::before {
  content: '';
  background: steelblue;
  width: 5px;
  height: 105%;
  position: absolute;
  left:50%;
  transform: translateX(-50%);
}

.timeline-content {
  background-color: white; */

  /* height: 250px; */
/* } */

/* MOBILE, ANYTHING BELOW 1000px */
@media screen and (max-width: 768px) {

  .timeline-content{
    margin-left: auto;
      width: 90%;
  }



  .timeline-container::before {
    left: 1%;
    transform: unset;
  }

}
